body{

    margin: 0;
    font-family: "Poppins", sans-serif;
    padding: 0;
}
h1{

    font-size: 50px;
    font-weight: 700;
    color: black;
}
h2{

    font-size: 40px;
    color: black;
}

h3{

    font-size: 30px;
}
p{
font-size: 30px;
    color: rgb(180, 11, 11);
}

.button{

padding: 15px 35px;
  border-radius: 50px;
  display: inline-block;
  margin-top: 20px;
  background-image: linear-gradient(to right, #fb9b4f, #fe4b2f);
  text-decoration: none;
  color: aliceblue;
  font-weight: 700;
}

.header-part{
    margin-bottom: 50px;
  }
  .flexi {
    display: flex;
  }

  #title-style {
    font-size: 70px;
    color: #fc753e;
  }

  #title-style2 {
    font-size: 70px;
    color: rgba(0, 0, 255, 0.541);
  }
  .half-width {
    width: 50%;
    margin-left: 2%;
  }
  
  .header-text {
    width: 80%;
    margin-left: 10%;
    margin-top: 20%;
  }
  .header-text h1 {
    font-family: "Century Gothic", sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
  }
  
  .header-text p {
    margin-top: 0px;
  }
  
  
  .header-img {
    width: 90%;
    padding-top: 40px;
  }


}
.about-text{
  margin-top: 50%;
  width: 90%;
  
}

.about-part{
    background-image: url(images/shapes/Frame\ 58.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
  }
.about-text p{
  margin-bottom: 5%;
}
  
  .about-img{
    display: inline-block;
    width: 300px; 
    margin-top: 55px;
    margin-left: 30%;
    height: 90%;
  }



  .recipi-text {
    text-align: center;
    
    
  }
  .recipi-text p{
    text-align: center;
    display: inline-block;
    width: 50%;
    color: forestgreen;
  
  }

  .box-style{
    width: 30%;
    margin: 2%;
    padding: 1%;
    border-radius: 25px;
    box-shadow: 10px 10px 40px -5px rgba(126, 5, 5, 0.603);
  }
  .boxses{
    justify-content: space-around;
    margin: 5%;
  }
  
  .box-style img{
    width: 100%;
    border-radius: 25px;
    height: 250px;
    box-shadow: 10px 10px 40px -5px blue;
  
  }
  footer {
    background-color: rgba(21, 10, 95, 0.918);
    text-align: center;
    font-weight: 400;
    margin-top: 10%;
    padding-top: 1%;
    padding-bottom: 5%;
   word-spacing: 2px;
   
  }
  #foodi{
    color: #f07b1c;
  }
  #networ{
    color: rgb(161, 241, 12);
  }
  footer p{
    color: whitesmoke;
  
}
#last{
    font-size: 15px;
}

.social-media{
    justify-content: space-evenly;
    margin:5% 7%;
    border-radius: 25px;
    height: 200px;
   
    margin-top: 5%;
    box-shadow: 0px 10px 30px -10px gray;
    
  }
  .social-text h2 {
    margin-bottom: 0;
    font-weight:bolder;
    color: black;
    display: inline-block;
    
  }
  
  .align{

    text-align: center;
  }


  .menu-contain{
    overflow: hidden;
   background-color: rgb(236, 200, 218);
}
    
}
.nav-class{
    height: 90px;
    width: 100%;
    background:rgba(218, 15, 15, 0.4);
}
.nav-class ul{
    float: right;
    margin-right: 20px;
}
.nav-class ul li{
    list-style: none;
    margin: 0 8x;
    display: inline-block;
    line-height: 60px;
}

.nav-class ul li a{
    text-decoration: none;
    color: black;
    padding: 6px 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}